.container{
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 1em 0em 0em 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

.title{
  font-size: 1.5em;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.username{
  font-size: 0.8em;
  margin: 0;
}

.titleContainer{
  margin-left: 1em;
  margin-top: 1em;
}

.bodyContainer{
  margin-left: 1em;
  margin-right: 1em;
}