$breakpoint-tablet: 768px;

.container{
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.content{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: initial;
}

@media screen and (min-width: $breakpoint-tablet){
  .content{
    flex-direction: row;
    align-items: center;
  }

  .children{
   padding-left: 1em; 
  }
}